.li {
  list-style-type: none;
}

.img {
  height: 7rem;
  width: 7rem;
  padding: .5rem;
}
.credit {
  text-align: center;
  font-size: .8vw;
  padding: auto;
}

.container {
  margin: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: cadetblue;

}

.card {
  height: 10rem;
  width: 10rem;
  margin: .5rem;
  align-items: center;
}

